@charset "UTF-8";
/* CSS Document */

html{
	background: #1a7b9b;
}

footer nav a#map{
	background-color: #00be9f;
}

footer nav a#timer{
	background-color: #006b48;
}

#countdown{
	font-size: 50px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 10px;
	margin:50px 0 25px;
	text-align: center;
}

#button{text-align: center;}

input{
	background: #FFFFFF;
	cursor: pointer;
	color: #000000;
	padding: 20px;
	border: 1px solid #FFF;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-align: center;
	width: 70vw;
	margin: 0 auto 50px;
	font-size: 25px;
	letter-spacing: 2px;
}

p{
	width: 60vw;
	line-height: 1.6em;
	color: #FFF;
	margin: 0 auto;
}

#speech{
	width: 30vw;
	height: 30vh;
	margin: 50px auto;
}