@charset "UTF-8";
/* CSS Document */

#top { 
	background: url("../images/top/visual.jpg") no-repeat top center fixed;
	background-size: cover;
	height: 90vh;
	width: 100vw;
}


footer nav a#map{
	background-color: #00be9f;
}

footer nav a#timer{
	background-color: #006b48;
}

h1 img{
	width: 50vw;
	position: absolute;
	top: 35%;
	left: 25%;
}